{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}


{% block body %}

<h2> Bienvenue {{ app.user.username }}</h2>
<h2 class="text-center m-3 mx-auto">Page profil</h2>
<p class="text-center m-3 mx-auto text-danger">N'hésitez pas à acheter et de vendre des produit</p>


<p>voila vos produits</p>
{# <pre>
    {{ dump(colonnes) }}
</pre> #}
<table class="table">
    <thead>
        <tr>
            {% for colonne in colonnes %}
                <th>{{ colonne|capitalize }}</th>
            {% endfor %}
                <th>lien</th>      
        </tr>
    </thead>

        <tbody>

            {% for produit in produits %}

               <tr> 
                   <td>{{produit.id}}</td>
                   <td>{{produit.nom}}</td>
                   <td>{{produit.description}}</td>
                   <td>{{produit.prix}}€</td>
                   <td><img class="img-thumbnail" style="max-height: 100px; max-width: 100px;" src="{{ asset('images/produit/' ~ produit.image ) }}" alt="" class="col-md-12"></td>
                   <td><a href="{{path('app_show', {'id' : produit.id})}}" class="text-decoration-none">Lire la suite</a></td>

                    
                </tr>
        
                {% endfor %}

        </tbody>
</table>






{% endblock %}