{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}


{% block body %}

<h2> Bienvenue {{ app.user.username }}</h2>
<h2 class="text-center m-3 mx-auto">Page profil</h2>
<p class="text-center m-3 mx-auto text-danger">N'hésitez pas à acheter et de vendre des produit</p>

<p>voila vos produits</p>
<pre>
    {{ dump(colonnes) }}
</pre>
{% for produit in produits %}

    <div class="row">
        {# <div class="col-md-3">créer le :{{new.createdAt|date("d/m/Y à H:i:s")}}</div> #}
        <div class="col-md-9 d-flex justify-content-between"> : {{produit.nom|raw}} 
        <div class="col-md-3">catégorie :{{produit.categorie.titre}}</div>
        <a href="{{path('app_show', {'id' : produit.id})}}" class="text-decoration-none">Lire la suite</a></div>

    </div>
{% endfor %}






{% endblock %}