{% extends 'base.html.twig' %}

{% block title %}Produit{{produit.id}}{% endblock %}

{% block body %}

<pre>
    {{ dump(produit) }}
</pre>

 <section class="row produit">


    <article class="col-md-6 mx-auto text-center border border-dark my-3 p-3 mr-1">
        <h2>{{ produit.nom }}</h2>
        <div class="metadata">dans la catégorie
            {{ produit.categorie.titre }}</div>
        <hr>
        <div class="content">
            <img src="{{ asset('images/produit/' ~ produit.image) }}" alt="" class="img-fluid">
            {# {{ produit.content|raw }} #}
        </div>
    </article>
</section>

<h2 class="text-center mx-auto m-3">Commentaires</h2>

<section class="col-md-10 mx-auto">

    {% for commentaire in produit.commentaires %}
    <div class="comment">
        <div class="row">
            <div class="col-md-3">
                {{produit.auteur.nom}} {{produit.auteur.username}}
                (<small>{{ comment.createdAt|date("d/m/Y à H:i:s") }}</small> )
            </div>
            <div class="col-md-9">
                {{commentaire.content|raw}}
            </div>
        </div>
    </div>
    <hr>

    {% endfor %}

</section>

 {% if app.user %}
{# <section class="col-md-10 mx-auto my-3">

    {{ form_start(formCommentaire) }}

    {{ form_row(formCommentaire.content, {
    label : "Nouveau commentaire"
}) }}

    <button type="submit" class="btn btn-info my-2">Valider le commentaire</button>

    {{ form_end(formCommentaire) }}

</section> #}
{% else %}
<p> Vous ne pouvez pas poster de commentaires, <a href="{{path('app_login')}}">connectez-vous</a> !</p>
{% endif %}

{% endblock %}